<html>
    <head>
        <title>searx admin</title>
        <link rel="stylesheet" href="static/css/material.min.css">
        <link rel="stylesheet" href="static/css/main.css">
        <script src="static/js/material.min.js"></script>
        <!-- ??? Font could be downloaded from https://getmdl.io/styles/index.html -->
        <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
    </head>
    <body>
        {% block content %}
        {% endblock %}
    </body>
</html>
