{% extends "index.html" %}
{% block page %}

{% for engine in engines.values()|sort(attribute='name') %}
<div id="engines-container">
<div class="mdl-card mdl-shadow--2dp">
    <div class="mdl-card__title">
        <h2 class="mdl-card__title-text">{{ engine.name }}</h2>
    </div>
    <div class="mdl-card__supporting-text">
        <label class="mdl-switch mdl-js-switch mdl-js-ripple-effect" for="{{ engine.name }}-state">
            <input type="checkbox" id="{{ engine.name }}-state" class="mdl-switch__input" {% if not engine.disabled %}checked{% endif %}>
                <span class="mdl-switch__label"></span>
        </label>
        <p></p>
        <div>Shortcut: !{{ engine.shortcut }}</div>
        <div>Categories: {{ engine.categories|join(', ') }}</div>
        <div>Timeout: {{ engine.timeout }}</div>
    </div>
    <div class="mdl-card__menu">
        <button class="mdl-button mdl-button--icon mdl-js-button mdl-js-ripple-effect">
            <i class="material-icons">mode_edit</i>
        </button>
    </div>
</div>
</div>
{% endfor %}

{% endblock %}
