{% extends "base.html" %}
{% block content %}
<style>
.mdl-layout__header a {
    color: #fff;
}
</style>
<div class="mdl-layout mdl-js-layout mdl-layout--fixed-drawer mdl-layout--fixed-header">
    <header class="mdl-layout__header">
        <div class="mdl-layout__header-row">
        {% if instance.is_running() %}
            <div>Your searx instance is running at {{ instance.settings['server']['bind_address'] }}:{{ instance.settings['server']['port'] }}</div>
            <a href="{{ url_for('stop_instance') }}">
              <button class="mdl-button mdl-js-button menubutton">
                <i class="material-icons">stop</i> STOP
              </button>
            </a>
            <a href="{{ url_for('reload_instance') }}">
                <button class="mdl-button mdl-js-button menubutton">
                    <i class="material-icons">replay</i> RELOAD
                </button>
            </a>
        {% else %}
            <div>No searx instance is running.</div>
            <a href="{{ url_for('start_instance') }}">
                <button class="mdl-button mdl-js-button menubutton">
                    <i class="material-icons">play_arrow</i> START
                </button>
            </a>
        {% endif %}
            <div class="mdl-layout-spacer"></div>
            <a href="{{ url_for_security('logout') }}">
                <label class="mdl-button mdl-js-button mdl-button--icon">
                    <i class="material-icons">exit_to_app</i>
                </label>
            </a>
        </div>
    </header>
    <div class="mdl-layout__drawer">
        <span class="mdl-layout-title">searx admin</span>
        <nav class="mdl-navigation">
            <a class="mdl-navigation__link" href="{{ url_for('server') }}">Instance</a>
            <a class="mdl-navigation__link" href="{{ url_for('search') }}">Search</a>
            <a class="mdl-navigation__link" href="{{ url_for('ui') }}">User interface</a>
            <a class="mdl-navigation__link" href="{{ url_for('outgoing') }}">Outgoing requests</a>
            <a class="mdl-navigation__link" href="{{ url_for('engines') }}">Engines</a>
        </nav>
    </div>
    <main class="mdl-layout__content">
        <div class="page-content">
        {% block page %}
        {% endblock %}
        </div>
    </main>
</div>
{% endblock %}
