{% extends "base.html" %}
{% block content %}
<style>
.mdl-layout__header a {
    color: #fff;
}
</style>
<div class="mdl-layout mdl-js-layout mdl-layout--fixed-drawer mdl-layout--fixed-header">
    <header class="mdl-layout__header">
        <div class="mdl-layout__header-row">
            <div class="mdl-layout-spacer"></div>
            <div class="mdl-textfield mdl-js-textfield mdl-textfield--expandable
                  mdl-textfield--floating-label mdl-textfield--align-right">
                <label class="mdl-button mdl-js-button mdl-button--icon" for="fixed-header-drawer-exp">
                    <i class="material-icons">search</i>
                </label>
                <div class="mdl-textfield__expandable-holder">
                    <input class="mdl-textfield__input" type="text" name="sample" id="fixed-header-drawer-exp">
                </div>
                <a href="{{ url_for_security('logout') }}">
                    <label class="mdl-button mdl-js-button mdl-button--icon">
                        <i class="material-icons">exit_to_app</i>
                    </label>
                </a>
            </div>
        </div>
    </header>
    <div class="mdl-layout__drawer">
        <span class="mdl-layout-title">searx admin</span>
        <nav class="mdl-navigation">
            <a class="mdl-navigation__link" href="{{ url_for('instance') }}">Instance</a>
            <a class="mdl-navigation__link" href="{{ url_for('search') }}">Search</a>
            <a class="mdl-navigation__link" href="{{ url_for('networking') }}">Networking</a>
            <a class="mdl-navigation__link" href="{{ url_for('engines') }}">Engines</a>
        </nav>
    </div>
    <main class="mdl-layout__content">
        <div class="page-content">
        {% block page %}
        {% endblock %}
        </div>
    </main>
</div>
{% endblock %}
